.main40 {
  position: relative;
  line-height: 19px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 260px;
  height: 15px;
  flex-shrink: 0;
}
.sidebar-menu-child38 {
  position: relative;
  border-top: 1px solid var(--secondary-color-secondary-light);
  box-sizing: border-box;
  width: 261px;
  height: 1px;
}
.icons-child8 {
  position: relative;
  width: 25px;
  height: 25px;
}
.icons47 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin40 {
  position: relative;
  line-height: 23px;
}
.admin-wrapper38 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.div87 {
  position: relative;
  font-weight: 600;
}
.wrapper169 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--gray-color-gray-800);
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-8xs) var(--padding-3xs)
    var(--padding-7xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.number-tools40 {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
  font-size: var(--font-size-base);
  color: var(--action-color-warning);
  font-family: var(--regular-h4);
}
.icons-parent38 {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.sidebar-menu-card40,
.sidebar-menu40 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar-menu-card40 {
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--color-teal);
  border-left: 3px solid var(--gray-color-gray-800);
  box-sizing: border-box;
  width: 260px;
  height: 51px;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-smi);
  font-size: var(--font-size-xl);
  color: var(--grayscale-white);
}
.sidebar-menu40 {
  gap: var(--gap-3xs);
}
.icons48 {
  position: relative;
  width: 30px;
  height: 30px;
}
.admin-wrapper39 {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.number-tools41 {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: var(--font-size-base);
  color: var(--action-color-warning);
}
.sidebar-menu-card41,
.wrapper171 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sidebar-menu-card41 {
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--grayscale-white);
  border-left: 3px solid var(--secondary-color-secondary-dark);
  width: 260px;
  height: 51px;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-smi);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-teal);
}
.wrapper171 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--action-color-success);
  width: 20px;
  height: 20px;
  padding: var(--padding-sm) var(--padding-8xs) var(--padding-3xs)
    var(--padding-7xs);
  align-items: center;
  justify-content: center;
}
.number-tools42 {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: var(--font-size-base);
  color: var(--default-color-black);
}
.sidebar-menu-parent8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.home-child,
.home-inner {
  position: absolute;
  top: 140px;
  border-radius: var(--br-8xs);
}
.home-inner {
  left: 50px;
  background-color: var(--grayscale-white);
  border: 1px solid var(--default-color-black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-3xs) var(--padding-11xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.home-child {
  left: 370px;
  background-color: var(--secondary-color-secondary-light);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  width: 1020px;
  height: 50px;
}
.home-bng {
  position: absolute;
  top: 157px;
  left: 391px;
  line-height: 19px;
  font-weight: 500;
  color: var(--color-teal);
}
.ngi-dng6 {
  position: absolute;
  top: 230px;
  left: 370px;
  font-size: var(--font-size-5xl);
  line-height: 28px;
  font-weight: 600;
}
.home-child1,
.home-item {
  position: absolute;
  top: 209.5px;
  left: 369.5px;
  border-top: 1px solid var(--secondary-color-secondry);
  box-sizing: border-box;
  width: 1021px;
  height: 1px;
}
.home-child1 {
  top: 119px;
  left: -1px;
  border-top: 2px solid var(--default-color-black);
  width: 1442px;
  height: 2px;
}
.extra-cards-icons-child {
  position: relative;
  width: 22px;
  height: 22px;
}
.extra-cards-icons {
  border-radius: var(--br-8xs);
  background-color: var(--color-teal);
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.number-tools44 {
  position: relative;
  width: 20px;
  height: 20px;
}
.frame-child215 {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--color-teal);
  box-sizing: border-box;
  height: 1px;
}
.total-admin {
  position: relative;
  line-height: 19px;
  font-weight: 500;
  color: var(--default-color-black);
}
.extra-cards-icons-parent,
.number-tools-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.extra-cards-icons-parent {
  gap: var(--gap-xl);
}
.dashboard-card-inner {
  border-radius: var(--br-8xs);
  background-color: var(--secondary-color-secondary-light);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-81xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.dashboard-card {
  border-radius: var(--br-5xs);
  background-color: var(--grayscale-white);
  box-shadow: 0 0 10px #2a746e;
  border: 1px solid var(--color-teal);
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--action-color-warning);
}
.extra-cards-icons-item {
  position: relative;
  width: 15.98px;
  height: 22px;
}
.total-admin1 {
  position: relative;
  line-height: 19px;
  font-weight: 500;
}
.dashboard-card-parent,
.dashboard-card1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard-card1 {
  border-radius: var(--br-5xs);
  background-color: var(--grayscale-white);
  box-shadow: 0 0 10px #2a746e;
  border: 1px solid var(--color-teal);
  flex-direction: column;
  padding: var(--padding-3xs);
}
.dashboard-card-parent {
  position: absolute;
  top: 278px;
  left: 370px;
  flex-direction: row;
  gap: var(--gap-16xl);
}
.home-child2 {
  position: absolute;
  top: 139.5px;
  left: 349.5px;
  border-right: 1px solid var(--secondary-color-secondry);
  box-sizing: border-box;
  width: 1px;
  height: 885px;
}
.theme-button-child8 {
  position: relative;
  width: 30.01px;
  height: 30px;
}
.theme-button21 {
  border-radius: var(--br-8xs);
  background-color: var(--grayscale-white);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.change10 {
  margin: 0;
}
.change-themeskin10 {
  position: relative;
  line-height: 14px;
  font-weight: 500;
}
.theme-button20 {
  position: absolute;
  top: 7.5px;
  left: 1006.5px;
  border-radius: var(--br-8xs);
  background-color: var(--grayscale-white);
  border: 0.5px solid var(--secondary-color-secondary-light);
  box-sizing: border-box;
  width: 101px;
  height: 76px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.user-abc15 {
  position: relative;
  line-height: 23px;
  font-weight: 500;
  display: inline-block;
  width: 98px;
  height: 21px;
  flex-shrink: 0;
}
.vector-icon19 {
  position: relative;
  width: 13.35px;
  height: 8px;
}
.vector-wrapper13 {
  width: 15px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.group-parent18 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.user-profile15 {
  position: absolute;
  top: 13px;
  left: 1157px;
  border-radius: var(--br-3xs);
  background-color: var(--color-teal);
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--grayscale-white);
  font-family: var(--font-poppins);
}
.frame-child219,
.group-child17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 247px;
  height: 74px;
}
.group-child17 {
  border-radius: 0 0 var(--br-mini) 0;
  background-color: var(--default-color-black);
}
.frame-child219 {
  object-fit: cover;
}
.rectangle-parent8,
.rectangle-wrapper8 {
  position: absolute;
  width: 247px;
  height: 74px;
  display: none;
}
.rectangle-wrapper8 {
  top: -4px;
  left: -4px;
  border-radius: var(--br-sm) 0 var(--br-sm) 0;
  background-color: var(--color-gainsboro);
}
.rectangle-parent8 {
  top: 4px;
  left: 4px;
}
.header10 {
  position: absolute;
  top: 22px;
  left: 50px;
  width: 1340px;
  height: 83px;
  text-align: center;
  font-size: var(--regular-h4-size);
  font-family: var(--regular-h4);
}
.vuesaxlinearbezier-icon10 {
  position: relative;
  width: 32px;
  height: 32px;
  display: none;
}
.bezier10 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
  background: linear-gradient(99.32deg, #b4cd93, #427a5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vuesaxlinearbezier-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.group-child18 {
  position: absolute;
  height: 63.83%;
  width: 41.12%;
  top: 36.17%;
  right: 29.85%;
  bottom: 0;
  left: 29.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instance-parent8 {
  position: absolute;
  top: 17px;
  left: 126px;
  width: 124px;
  height: 94px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-manrope);
}
.group-child19 {
  top: 0;
  left: 0;
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  width: 154px;
}
.group-child19,
.ng-xut,
.rectangle-parent9 {
  position: absolute;
  height: 43px;
}
.ng-xut {
  top: 0;
  left: 21px;
  line-height: 23px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 109px;
}
.rectangle-parent9 {
  top: 83px;
  left: 1229px;
  width: 154px;
  text-align: right;
  font-size: var(--font-size-xl);
  display: none;
}
.rectangle-parent9.open{
  display: flex;
}

.home {
  position: absolute;
  background-color: var(--grayscale-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--default-color-black);
  font-family: var(--font-poppins);
  display: none;
}

.home.open{
  display: flex;
}
