.tt-c-52 {
  position: relative;
  line-height: 19px;
  font-weight: 500;
  display: inline-block;
  width: 77px;
  height: 15px;
  flex-shrink: 0;
}
.tt-c-5-frame {
  position: absolute;
  top: 292px;
  left: 370px;
  border-radius: var(--br-8xs);
  background-color: var(--secondary-color-secondary-light);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  color: var(--color-teal);
}
.frame-child25 {
  position: relative;
  width: 15px;
  height: 15px;
}
.thm1 {
  position: relative;
  line-height: 19px;
  display: inline-block;
  width: 73px;
  flex-shrink: 0;
}
.group-parent3 {
  position: absolute;
  top: 232px;
  left: 536px;
  border-radius: var(--br-8xs);
  background-color: var(--color-teal);
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
  color: var(--grayscale-white);
}
.cu-khch-l2 {
  position: absolute;
  top: 230px;
  left: 370px;
  font-size: var(--font-size-5xl);
  line-height: 28px;
  font-weight: 600;
}
.qun-l-cu-khch-l-child {
  position: absolute;
  top: 119px;
  left: -1px;
  border-top: 2px solid var(--default-color-black);
  box-sizing: border-box;
  width: 1442px;
  height: 2px;
}
.qun-l-cu-khch-l-item {
  position: absolute;
  top: 140px;
  left: 370px;
  border-radius: var(--br-8xs);
  background-color: var(--secondary-color-secondary-light);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  width: 1020px;
  height: 50px;
}
.home-cu2 {
  position: absolute;
  top: 157px;
  left: 391px;
  line-height: 19px;
  font-weight: 500;
  color: var(--color-teal);
}
.qun-l-cu-khch-l-inner {
  position: absolute;
  top: 209.5px;
  left: 369.5px;
  border-top: 1px solid var(--secondary-color-secondry);
  box-sizing: border-box;
  width: 1021px;
  height: 1px;
}
.id-container {
  width: 20px;
  height: 35px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-8xs) var(--padding-3xs)
    var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-child26 {
  position: relative;
  border-right: 0.5px solid var(--secondary-color-secondry);
  box-sizing: border-box;
  width: 0.5px;
  height: 43.5px;
}
.qun-tr-vin1 {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 66px;
  flex-shrink: 0;
}
.email-container,
.qun-tr-vin-container {
  height: 35px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-10xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.email-container {
  width: 121px;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-11xs);
}
.ni-dung-cu1 {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 92px;
  flex-shrink: 0;
}
.ni-dung-cu-khch-l-container {
  width: 96px;
  height: 34px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-11xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.ngy-to1 {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 48px;
  flex-shrink: 0;
}
.ngy-to-container {
  width: 66px;
  height: 35px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.ngy-cp-nhp1 {
  display: inline-block;
  width: 61px;
  flex-shrink: 0;
}
.ngy-cp-nhp1,
.xa {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.xa-wrapper {
  width: 136px;
  height: 35px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-parent1,
.qun-l-cu-khch-l-inner1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.frame-parent1 {
  margin: 0 !important;
  top: 0;
  left: 0;
  height: 44px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  z-index: 0;
}
.qun-l-cu-khch-l-inner1 {
  top: 341px;
  left: 370px;
  border-radius: var(--br-3xs);
  background-color: var(--secondary-color-secondary-light);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-color-secondary-dark);
  box-sizing: border-box;
  width: 718px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  font-size: var(--regular-h4-size);
}
.qun-l-cu-khch-l-child1 {
  position: absolute;
  top: 139.5px;
  left: 349.5px;
  border-right: 1px solid var(--secondary-color-secondry);
  box-sizing: border-box;
  width: 1px;
  height: 885px;
}
.b11 {
  position: relative;
  line-height: 14px;
}
.wrapper21 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-8xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.list-preview-child48 {
  align-self: stretch;
  position: relative;
  border-right: 0.5px solid var(--gray-color-gray-200);
  box-sizing: border-box;
  width: 0.5px;
}
.mayank12-wrapper3 {
  width: 85px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-8xs) var(--padding-3xs) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.mayankgmailcom5 {
  position: relative;
  line-height: 14px;
  display: inline-block;
  width: 117px;
  flex-shrink: 0;
}
.mayankgmailcom-wrapper3,
.surat-wrapper3 {
  width: 125px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-11xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.surat-wrapper3 {
  width: 100px;
}
.div15,
.list-preview-child51 {
  align-self: stretch;
  position: relative;
}
.list-preview-child51 {
  border-right: 0.5px solid var(--gray-color-gray-200);
  box-sizing: border-box;
  width: 0.5px;
  display: none;
}
.div15 {
  flex: 1;
  line-height: 14px;
}
.wrapper22,
.wrapper23 {
  display: none;
  flex-direction: row;
  box-sizing: border-box;
}
.wrapper22 {
  align-self: stretch;
  width: 69px;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-11xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--regular-h4);
}
.wrapper23 {
  width: 73px;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
}
.infoectvcindiacom5 {
  position: relative;
  line-height: 14px;
  display: inline-block;
  width: 67px;
  flex-shrink: 0;
}
.infoectvcindiacom-wrapper3 {
  width: 74px;
  display: none;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-11xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.active3 {
  position: relative;
  line-height: 14px;
  font-weight: 500;
}
.active-wrapper1 {
  border-radius: var(--br-8xs);
  background-color: var(--grayscale-white);
  width: 70px;
  height: 25px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.status-card-wrapper3,
.status-card5 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.status-card5 {
  border-radius: var(--br-7xs);
  border: 1px solid var(--action-color-success);
  display: flex;
  padding: var(--padding-10xs-5);
}
.status-card-wrapper3 {
  width: 78px;
  display: none;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  color: var(--action-color-success);
}
.p10 {
  margin: 0;
}
.am-wrapper8,
.am-wrapper9 {
  width: 70px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-8xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}
.am-wrapper9 {
  padding: var(--padding-3xs);
}
.frame-child32 {
  position: relative;
  width: 24.81px;
  height: 25px;
}
.information-inner4,
.information5 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.information-inner4 {
  border-radius: var(--br-11xs);
  background-color: var(--grayscale-white);
  width: 30px;
  height: 30px;
  display: flex;
}
.information5 {
  border-radius: var(--br-8xs);
  background-color: var(--gray-color-gray-300);
  width: 40px;
  height: 40px;
  display: none;
}
.edit-child2 {
  position: relative;
  border-radius: var(--br-9xs);
  width: 30px;
  height: 30px;
  display: none;
}
.edit5 {
  border-radius: var(--br-8xs);
  background-color: var(--gray-color-gray-200);
  display: none;
  flex-direction: row;
  padding: var(--padding-8xs);
  align-items: center;
  justify-content: center;
}
.frame-child33 {
  position: relative;
  width: 21.14px;
  height: 25px;
}
.delete5,
.information-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.delete5 {
  border-radius: var(--br-8xs);
  background-color: var(--gray-color-gray-200);
  width: 40px;
  height: 40px;
  justify-content: center;
}
.information-parent3 {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.list-preview-inner6,
.list-preview5 {
  width: 155px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.list-preview5 {
  background-color: var(--grayscale-white);
  width: 718px;
  flex-direction: row;
  padding: var(--padding-8xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child34 {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--secondary-color-secondary-light);
  box-sizing: border-box;
  height: 1px;
}
.edit-child3 {
  position: relative;
  border-radius: var(--br-9xs);
  width: 30px;
  height: 30px;
}
.inactive-frame,
.status-card7 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inactive-frame {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--grayscale-white);
  width: 70px;
  flex-direction: row;
  padding: var(--padding-3xs);
}
.status-card7 {
  border-radius: var(--br-7xs);
  border: 1px solid var(--primary-color-primary);
  height: 30px;
  flex-direction: column;
  padding: var(--padding-10xs-5);
}
.status-card-wrapper5,
.wrapper34 {
  display: none;
  box-sizing: border-box;
}
.status-card-wrapper5 {
  width: 78px;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  color: var(--primary-color-primary);
}
.wrapper34 {
  align-self: stretch;
  width: 69px;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-11xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.status-card9 {
  border-radius: var(--br-7xs);
  border: 1px solid var(--action-color-success);
  box-sizing: border-box;
  height: 30px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-10xs-5);
  align-items: center;
  justify-content: center;
}
.list-preview-group {
  position: absolute;
  top: 0;
  left: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.div19,
.pagination-arrow-icon2 {
  position: relative;
  width: 21.24px;
  height: 15px;
}
.div19 {
  line-height: 19px;
  font-weight: 500;
  display: inline-block;
  width: 9px;
  flex-shrink: 0;
}
.pagination-number3,
.pagination-number4 {
  border-radius: var(--br-5xl);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.pagination-number3 {
  background-color: var(--primary-color-primary);
  color: var(--grayscale-white);
}
.pagination-number4 {
  background-color: var(--grayscale-white);
}
.pagination-button1,
.pagination-number-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.pagination-button1 {
  align-items: center;
  gap: var(--gap-mini);
  font-size: var(--font-size-base);
  color: var(--default-color-black);
}
.pages-group {
  position: absolute;
  top: 930px;
  left: 334px;
  width: 1020px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-31xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  color: var(--secondary-color-secondary-dark);
}
.list-preview-group {
  position: absolute;
  top: 395px;
  left: 350px;
  width: 738px;
  height: 629px;
  /* overflow-y: auto; */
  font-size: var(--regular-h4-size);
}
.theme-button-inner {
  position: relative;
  width: 30.01px;
  height: 30px;
}
.theme-button4,
.theme-button5 {
  border-radius: var(--br-8xs);
  background-color: var(--grayscale-white);
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}
.theme-button5 {
  width: 40px;
  height: 40px;
  display: flex;
  padding: var(--padding-3xs);
  justify-content: center;
}
.theme-button4 {
  position: absolute;
  top: 7.5px;
  left: 1006.5px;
  border: 0.5px solid var(--secondary-color-secondary-light);
  width: 101px;
  height: 76px;
  display: none;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child47,
.user-abc3 {
  position: relative;
  width: 30px;
  height: 30px;
}
.user-abc3 {
  line-height: 23px;
  font-weight: 500;
  display: inline-block;
  width: 98px;
  height: 21px;
  flex-shrink: 0;
}
.vector-icon4 {
  position: relative;
  width: 13.35px;
  height: 8px;
}
.user-profile3,
.vector-wrapper1 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vector-wrapper1 {
  width: 15px;
  height: 20px;
  display: flex;
}
.user-profile3 {
  position: absolute;
  top: 13px;
  left: 1157px;
  border-radius: var(--br-3xs);
  background-color: var(--color-teal);
  display: none;
  padding: var(--padding-3xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--grayscale-white);
}
.rectangle-div {
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 0 0 var(--br-mini) 0;
  background-color: var(--default-color-black);
  width: 247px;
  height: 74px;
}
.frame-child48 {
  width: 247px;
  height: 74px;
  object-fit: cover;
}
.frame-child48,
.group-div,
.rectangle-frame {
  position: absolute;
  top: 0;
  left: 0;
}
.rectangle-frame {
  border-radius: var(--br-sm) 0 var(--br-sm) 0;
  background-color: var(--color-gainsboro);
  width: 247px;
  height: 74px;
}
.group-div {
  width: 251px;
  height: 78px;
  display: none;
}
.header2 {
  position: absolute;
  top: 22px;
  left: 50px;
  width: 1340px;
  height: 83px;
  text-align: center;
  font-size: var(--regular-h4-size);
}
.vuesaxlinearbezier-icon2 {
  position: relative;
  width: 32px;
  height: 32px;
  display: none;
}
.bezier2 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
  background: linear-gradient(99.32deg, #b4cd93, #427a5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vuesaxlinearbezier-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.group-child2 {
  position: absolute;
  height: 63.83%;
  width: 41.12%;
  top: 36.17%;
  right: 29.85%;
  bottom: 0;
  left: 29.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instance-container {
  position: absolute;
  top: 17px;
  left: 126px;
  width: 124px;
  height: 94px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-manrope);
}
.main8 {
  position: relative;
  line-height: 19px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 260px;
  height: 15px;
  flex-shrink: 0;
}
.sidebar-menu-child6 {
  position: relative;
  border-top: 1px solid var(--secondary-color-secondary-light);
  box-sizing: border-box;
  width: 261px;
  height: 1px;
}
.icons-inner {
  position: relative;
  width: 25px;
  height: 25px;
}
.icons9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin8 {
  position: relative;
  line-height: 23px;
}
.admin-wrapper6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.div22 {
  position: relative;
  font-weight: 600;
}
.wrapper36 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--gray-color-gray-800);
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-8xs) var(--padding-3xs)
    var(--padding-7xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.number-tools8 {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
  font-size: var(--font-size-base);
  color: var(--action-color-warning);
  font-family: var(--regular-h4);
}
.icons-parent6 {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.sidebar-menu-card8 {
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--grayscale-white);
  border-left: 3px solid var(--gray-color-gray-800);
  box-sizing: border-box;
  width: 260px;
  height: 51px;
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-smi);
  align-items: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-teal);
}
.admin-wrapper7,
.sidebar-menu-card8,
.sidebar-menu8 {
  display: flex;
  justify-content: flex-start;
}
.sidebar-menu8 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.admin-wrapper7 {
  height: 30px;
  flex-direction: row;
  align-items: flex-end;
}
.number-tools9 {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: var(--font-size-base);
  color: var(--action-color-warning);
}
.sidebar-menu-card9,
.wrapper38 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sidebar-menu-card9 {
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--grayscale-white);
  border-left: 3px solid var(--secondary-color-secondary-dark);
  width: 260px;
  height: 51px;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-smi);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-teal);
}
.wrapper38 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--action-color-success);
  width: 20px;
  height: 20px;
  padding: var(--padding-sm) var(--padding-8xs) var(--padding-3xs)
    var(--padding-7xs);
  align-items: center;
  justify-content: center;
}
.number-tools10 {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: var(--font-size-base);
  color: var(--default-color-black);
}
.sidebar-menu-card11 {
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--color-teal);
  border-left: 3px solid var(--secondary-color-secondary-dark);
  box-sizing: border-box;
  width: 260px;
  height: 51px;
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-smi);
  font-size: var(--font-size-xl);
  color: var(--grayscale-white);
}
.qun-l-cu-khch-l-inner2,
.sidebar-menu-card11,
.sidebar-menu-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar-menu-container {
  flex-direction: column;
  gap: var(--gap-21xl);
}
.qun-l-cu-khch-l-inner2 {
  position: absolute;
  top: 140px;
  left: 50px;
  border-radius: var(--br-8xs);
  background-color: var(--grayscale-white);
  border: 1px solid var(--default-color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-3xs) var(--padding-11xl);
}
.user-profile4 {
  position: absolute;
  top: 49px;
  left: 1207px;
  border-radius: var(--br-3xs);
  background-color: var(--color-teal);
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--grayscale-white);
}
.qun-l-cu-khch-l {
  position: absolute;
  background-color: var(--grayscale-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--default-color-black);
  font-family: var(--font-poppins);
  display: none;
}

.qun-l-cu-khch-l.open{
  display: flex;
}
