.tt-c-53 {
  position: relative;
  line-height: 19px;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  height: 15px;
  flex-shrink: 0;
}
.tt-c-5-wrapper1 {
  position: absolute;
  top: 292px;
  left: 370px;
  border-radius: var(--br-8xs);
  background-color: var(--secondary-color-secondary-light);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  color: var(--color-teal);
}
.frame-child196,
.thm3 {
  position: relative;
  width: 15px;
  height: 15px;
}
.thm3 {
  line-height: 19px;
  display: inline-block;
  width: 75px;
  height: 16px;
  flex-shrink: 0;
}
.group-parent16 {
  position: absolute;
  top: 232px;
  left: 522px;
  border-radius: var(--br-8xs);
  background-color: var(--color-teal);
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
  color: var(--grayscale-white);
}
.ngi-dng5 {
  position: absolute;
  top: 230px;
  left: 370px;
  font-size: var(--font-size-5xl);
  line-height: 28px;
  font-weight: 600;
}
.qun-tr-vin-child {
  position: absolute;
  top: 119px;
  left: -1px;
  border-top: 2px solid var(--default-color-black);
  box-sizing: border-box;
  width: 1442px;
  height: 2px;
}
.qun-tr-vin-item {
  position: absolute;
  top: 140px;
  left: 370px;
  border-radius: var(--br-8xs);
  background-color: var(--secondary-color-secondary-light);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  width: 1020px;
  height: 50px;
}
.home-qun3 {
  position: absolute;
  top: 157px;
  left: 391px;
  line-height: 19px;
  font-weight: 500;
  color: var(--color-teal);
}
.qun-tr-vin-inner {
  position: absolute;
  top: 209.5px;
  left: 369.5px;
  border-top: 1px solid var(--secondary-color-secondry);
  box-sizing: border-box;
  width: 1021px;
  height: 1px;
}
.id6 {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 17px;
  height: 15px;
  flex-shrink: 0;
}
.id-wrapper4 {
  width: 20px;
  height: 35px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-8xs) var(--padding-3xs)
    var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-child197 {
  position: relative;
  border-right: 0.5px solid var(--secondary-color-secondry);
  box-sizing: border-box;
  width: 0.5px;
  height: 43.5px;
}
.tn-ng-nhp6 {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 98px;
  height: 15px;
  flex-shrink: 0;
}
.tn-ng-nhp-wrapper2 {
  width: 116px;
  height: 35px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-10xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.mt-khu3 {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 64px;
  height: 15px;
  flex-shrink: 0;
}
.mt-khu-container {
  width: 196px;
  height: 35px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.tnh-trng1 {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 73px;
  height: 15px;
  flex-shrink: 0;
}
.tnh-trng-container {
  width: 91px;
  height: 35px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.ngy-to5 {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 110px;
  height: 15px;
  flex-shrink: 0;
}
.ngy-to-wrapper3 {
  width: 126px;
  height: 35px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.sa-i5 {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 65px;
  height: 15px;
  flex-shrink: 0;
}
.frame-parent21,
.sa-i-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sa-i-wrapper3 {
  width: 127px;
  height: 35px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  justify-content: center;
}
.frame-parent21 {
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.qun-tr-vin-inner1 {
  position: absolute;
  top: 341px;
  left: 370px;
  border-radius: var(--br-3xs);
  background-color: var(--secondary-color-secondary-light);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-color-secondary-dark);
  box-sizing: border-box;
  width: 1020px;
  height: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-10xs) var(--padding-108xl) var(--padding-10xs)
    var(--padding-10xs);
  align-items: center;
  justify-content: center;
  font-size: var(--regular-h4-size);
}
.b99 {
  position: relative;
  line-height: 14px;
}
.wrapper155 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-8xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.list-preview-child403 {
  align-self: stretch;
  position: relative;
  border-right: 0.5px solid var(--gray-color-gray-200);
  box-sizing: border-box;
  width: 0.5px;
}
.mayank12-wrapper40 {
  width: 120px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-8xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.mayankgmailcom42 {
  position: relative;
  line-height: 14px;
  display: inline-block;
  width: 155px;
  flex-shrink: 0;
}
.mayankgmailcom-wrapper40 {
  width: 200px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-preview-child405 {
  align-self: stretch;
  position: relative;
  border-right: 0.5px solid var(--gray-color-gray-200);
  box-sizing: border-box;
  width: 0.5px;
  display: none;
}
.wrapper156 {
  width: 114px;
  display: none;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.active29 {
  position: relative;
  line-height: 14px;
  font-weight: 500;
}
.active-wrapper25,
.status-card44 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-wrapper25 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--grayscale-white);
  width: 70px;
  flex-direction: row;
  padding: var(--padding-3xs);
}
.status-card44 {
  border-radius: var(--br-7xs);
  border: 1px solid var(--action-color-success);
  height: 30px;
  flex-direction: column;
  padding: var(--padding-10xs-5);
}
.status-card-wrapper40 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--action-color-success);
}
.p84 {
  margin: 0;
}
.am-wrapper82 {
  width: 130px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}
.edit-child39 {
  position: relative;
  border-radius: var(--br-9xs);
  width: 30px;
  height: 30px;
}
.edit42 {
  border-radius: var(--br-8xs);
  background-color: var(--gray-color-gray-200);
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xs);
  align-items: center;
  justify-content: center;
}
.frame-child203 {
  position: relative;
  width: 21.14px;
  height: 25px;
}
.delete-inner41 {
  border-radius: var(--br-11xs);
  background-color: var(--grayscale-white);
  width: 30px;
  height: 30px;
  justify-content: center;
}
.delete-inner41,
.delete42,
.edit-parent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.delete42 {
  border-radius: var(--br-8xs);
  background-color: var(--gray-color-gray-200);
  width: 40px;
  height: 40px;
  justify-content: center;
}
.edit-parent3 {
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.list-preview-inner43,
.list-preview42 {
  width: 130px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.list-preview42 {
  background-color: var(--grayscale-white);
  width: 1020px;
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-3xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child204 {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--secondary-color-secondary-light);
  box-sizing: border-box;
  height: 1px;
}
.status-card45 {
  border-radius: var(--br-7xs);
  border: 1px solid var(--primary-color-primary);
  box-sizing: border-box;
  height: 30px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-10xs-5);
  align-items: center;
  justify-content: center;
}
.list-preview-parent4,
.status-card-wrapper41 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.status-card-wrapper41 {
  padding: var(--padding-3xs);
  color: var(--primary-color-primary);
}
.list-preview-parent4 {
  position: absolute;
  top: 401px;
  left: 370px;
  gap: var(--gap-8xs);
  font-size: var(--regular-h4-size);
}
.qun-tr-vin-child1 {
  position: absolute;
  top: 139.5px;
  left: 349.5px;
  border-right: 1px solid var(--secondary-color-secondry);
  box-sizing: border-box;
  width: 1px;
  height: 885px;
}
.div80,
.pagination-arrow-icon12 {
  position: relative;
  width: 21.24px;
  height: 15px;
}
.div80 {
  line-height: 19px;
  font-weight: 500;
  display: inline-block;
  width: 9px;
  flex-shrink: 0;
}
.pagination-number18,
.pagination-number19 {
  border-radius: var(--br-5xl);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.pagination-number18 {
  background-color: var(--color-teal);
  color: var(--grayscale-white);
}
.pagination-number19 {
  background-color: var(--grayscale-white);
}
.page-group,
.pagination-button6,
.pagination-number-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.page-group,
.pagination-button6 {
  align-items: center;
  gap: var(--gap-mini);
  font-size: var(--font-size-base);
  color: var(--default-color-black);
}
.page-group {
  position: absolute;
  top: 826px;
  left: 350px;
  width: 1090px;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--regular-h4-size);
  color: var(--secondary-color-secondary-dark);
}
.theme-button-child7 {
  position: relative;
  width: 30.01px;
  height: 30px;
}
.theme-button18,
.theme-button19 {
  border-radius: var(--br-8xs);
  background-color: var(--grayscale-white);
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}
.theme-button19 {
  width: 40px;
  height: 40px;
  display: flex;
  padding: var(--padding-3xs);
  justify-content: center;
}
.theme-button18 {
  position: absolute;
  top: 7.5px;
  left: 1006.5px;
  border: 0.5px solid var(--secondary-color-secondary-light);
  width: 101px;
  height: 76px;
  display: none;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child213,
.user-abc14 {
  position: relative;
  width: 30px;
  height: 30px;
}
.user-abc14 {
  line-height: 23px;
  font-weight: 500;
  display: inline-block;
  width: 98px;
  height: 21px;
  flex-shrink: 0;
}
.vector-icon18 {
  position: relative;
  width: 13.35px;
  height: 8px;
}
.vector-wrapper12 {
  width: 15px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.group-parent17 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.user-profile14 {
  position: absolute;
  top: 13px;
  left: 1157px;
  border-radius: var(--br-3xs);
  background-color: var(--color-teal);
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--grayscale-white);
}
.group-child15 {
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 0 0 var(--br-mini) 0;
  background-color: var(--default-color-black);
  width: 247px;
  height: 74px;
}
.frame-child214,
.rectangle-wrapper7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 247px;
  height: 74px;
}
.frame-child214 {
  object-fit: cover;
}
.rectangle-wrapper7 {
  border-radius: var(--br-sm) 0 var(--br-sm) 0;
  background-color: var(--color-gainsboro);
}
.rectangle-parent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 251px;
  height: 78px;
  display: none;
}
.header9 {
  position: absolute;
  top: 22px;
  left: 50px;
  width: 1340px;
  height: 83px;
  text-align: center;
  font-size: var(--regular-h4-size);
}
.vuesaxlinearbezier-icon9 {
  position: relative;
  width: 32px;
  height: 32px;
  display: none;
}
.bezier9 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
  background: linear-gradient(99.32deg, #b4cd93, #427a5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vuesaxlinearbezier-parent7 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.group-child16 {
  position: absolute;
  height: 63.83%;
  width: 41.12%;
  top: 36.17%;
  right: 29.85%;
  bottom: 0;
  left: 29.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instance-parent7 {
  position: absolute;
  top: 17px;
  left: 126px;
  width: 124px;
  height: 94px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-manrope);
}
.main36 {
  position: relative;
  line-height: 19px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 260px;
  height: 15px;
  flex-shrink: 0;
}
.sidebar-menu-child34 {
  position: relative;
  border-top: 1px solid var(--secondary-color-secondary-light);
  box-sizing: border-box;
  width: 261px;
  height: 1px;
}
.icons-child7 {
  position: relative;
  width: 25px;
  height: 25px;
}
.icons43 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin36 {
  position: relative;
  line-height: 23px;
}
.admin-wrapper34 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.div83 {
  position: relative;
  font-weight: 600;
}
.wrapper165 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--gray-color-gray-800);
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-8xs) var(--padding-3xs)
    var(--padding-7xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.number-tools36 {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
  font-size: var(--font-size-base);
  color: var(--action-color-warning);
  font-family: var(--regular-h4);
}
.icons-parent34 {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.sidebar-menu-card36 {
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--grayscale-white);
  border-left: 3px solid var(--gray-color-gray-800);
  box-sizing: border-box;
  width: 260px;
  height: 51px;
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-smi);
  align-items: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-teal);
}
.admin-wrapper35,
.sidebar-menu-card36,
.sidebar-menu36 {
  display: flex;
  justify-content: flex-start;
}
.sidebar-menu36 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.admin-wrapper35 {
  height: 30px;
  flex-direction: row;
  align-items: flex-end;
}
.number-tools37 {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: var(--font-size-base);
  color: var(--action-color-warning);
}
.sidebar-menu-card37,
.wrapper167 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sidebar-menu-card37 {
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--grayscale-white);
  border-left: 3px solid var(--secondary-color-secondary-dark);
  width: 260px;
  height: 51px;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-smi);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-teal);
}
.wrapper167 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--action-color-success);
  width: 20px;
  height: 20px;
  padding: var(--padding-sm) var(--padding-8xs) var(--padding-3xs)
    var(--padding-7xs);
  align-items: center;
  justify-content: center;
}
.number-tools38 {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: var(--font-size-base);
  color: var(--default-color-black);
}
.sidebar-menu-card38,
.sidebar-menu-parent7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar-menu-card38 {
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--color-teal);
  border-left: 3px solid var(--secondary-color-secondary-dark);
  box-sizing: border-box;
  width: 260px;
  height: 51px;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-smi);
  font-size: var(--font-size-xl);
  color: var(--grayscale-white);
}
.sidebar-menu-parent7 {
  gap: var(--gap-21xl);
}
.qun-tr-vin-inner2,
.qun-tr-vin2 {
  background-color: var(--grayscale-white);
  overflow: hidden;
}
.qun-tr-vin-inner2 {
  position: absolute;
  top: 140px;
  left: 50px;
  border-radius: var(--br-8xs);
  border: 1px solid var(--default-color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-3xs) var(--padding-11xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.qun-tr-vin2 {
  position: absolute;
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--default-color-black);
  font-family: var(--font-poppins);
  display: none;
}

.qun-tr-vin2.open{
  display: flex;
}
