.tt-c-86 {
  position: relative;
  line-height: 19px;
  font-weight: 500;
  display: inline-block;
  width: 88px;
  height: 15px;
  flex-shrink: 0;
}
.ngi-dng,
.tt-c-86-wrapper {
  position: absolute;
  left: 370px;
}
.tt-c-86-wrapper {
  top: 292px;
  border-radius: var(--br-8xs);
  background-color: var(--secondary-color-secondary-light);
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  color: var(--color-teal);
}
.ngi-dng {
  top: 230px;
  font-size: var(--font-size-5xl);
  line-height: 28px;
  font-weight: 600;
}
.xa-bi-ng-child {
  position: absolute;
  top: 119px;
  left: -1px;
  border-top: 2px solid var(--default-color-black);
  box-sizing: border-box;
  width: 1442px;
  height: 2px;
}
.xa-bi-ng-item {
  position: absolute;
  top: 140px;
  left: 370px;
  border-radius: var(--br-8xs);
  background-color: var(--secondary-color-secondary-light);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  width: 1020px;
  height: 50px;
}
.home-ngi {
  position: absolute;
  top: 157px;
  left: 391px;
  line-height: 19px;
  font-weight: 500;
  color: var(--color-teal);
}
.xa-bi-ng-inner {
  position: absolute;
  top: 209.5px;
  left: 369.5px;
  border-top: 1px solid var(--secondary-color-secondry);
  box-sizing: border-box;
  width: 1021px;
  height: 1px;
}
.id-frame {
  width: 20px;
  height: 35px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-8xs) var(--padding-3xs)
    var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-child50 {
  position: relative;
  border-right: 0.5px solid var(--secondary-color-secondry);
  box-sizing: border-box;
  width: 0.5px;
  height: 43.5px;
}
.tn-ng-nhp {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 66px;
  flex-shrink: 0;
}
.email-frame,
.tn-ng-nhp-wrapper {
  height: 35px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-10xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.email-frame {
  width: 121px;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-11xs);
}
.a-ch {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.a-ch-wrapper,
.hot-ng-wrapper,
.s-in-thoi-wrapper,
.trng-thi-wrapper {
  width: 96px;
  height: 34px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-11xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.hot-ng-wrapper,
.s-in-thoi-wrapper,
.trng-thi-wrapper {
  width: 68px;
  height: 35px;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-5xs);
}
.hot-ng-wrapper,
.trng-thi-wrapper {
  width: 70px;
  height: 34px;
}
.trng-thi-wrapper {
  width: 74px;
  height: 35px;
}
.ngy-to-date {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 48px;
  flex-shrink: 0;
}
.ngy-to-date-wrapper {
  width: 66px;
  height: 35px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.ngy-cp-nhp2 {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  width: 61px;
  flex-shrink: 0;
}
.frame-parent3,
.sa-i-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sa-i-container {
  width: 136px;
  height: 35px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  justify-content: center;
}
.frame-parent3 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 44px;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  z-index: 0;
}
.xa-bi-ng-child1,
.xa-bi-ng-inner1 {
  position: absolute;
  box-sizing: border-box;
}
.xa-bi-ng-inner1 {
  top: 341px;
  left: 370px;
  border-radius: var(--br-3xs);
  background-color: var(--secondary-color-secondary-light);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-color-secondary-dark);
  width: 1020px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--regular-h4-size);
}
.xa-bi-ng-child1 {
  top: 139.5px;
  left: 349.5px;
  border-right: 1px solid var(--secondary-color-secondry);
  width: 1px;
  height: 885px;
}
.b22 {
  position: relative;
  line-height: 14px;
}
.wrapper40 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-8xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.list-preview-child98 {
  align-self: stretch;
  position: relative;
  border-right: 0.5px solid var(--gray-color-gray-200);
  box-sizing: border-box;
  width: 0.5px;
}
.mayank12-wrapper8 {
  width: 85px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-8xs) var(--padding-3xs) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.mayankgmailcom10 {
  position: relative;
  line-height: 14px;
  display: inline-block;
  width: 117px;
  flex-shrink: 0;
}
.mayankgmailcom-wrapper8,
.surat-wrapper8 {
  width: 125px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-11xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.surat-wrapper8 {
  width: 100px;
}
.div26 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 14px;
}
.list-preview-child102,
.wrapper41 {
  align-self: stretch;
  box-sizing: border-box;
  display: none;
}
.wrapper41 {
  width: 69px;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-11xs);
  align-items: flex-start;
  justify-content: flex-start;
  font-family: var(--regular-h4);
}
.list-preview-child102 {
  position: relative;
  border-right: 0.5px solid var(--gray-color-gray-200);
  width: 0.5px;
}
.wrapper42 {
  width: 73px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.infoectvcindiacom10 {
  position: relative;
  line-height: 14px;
  display: inline-block;
  width: 67px;
  flex-shrink: 0;
}
.infoectvcindiacom-wrapper8 {
  width: 74px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-11xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.active6 {
  position: relative;
  line-height: 14px;
  font-weight: 500;
}
.active-wrapper4,
.status-card10 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-wrapper4 {
  border-radius: var(--br-8xs);
  background-color: var(--grayscale-white);
  width: 70px;
  height: 25px;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.status-card10 {
  border-radius: var(--br-7xs);
  border: 1px solid var(--action-color-success);
  flex-direction: column;
  padding: var(--padding-10xs-5);
}
.am-wrapper18,
.am-wrapper19,
.status-card-wrapper8 {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
.status-card-wrapper8 {
  width: 78px;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: center;
  color: var(--action-color-success);
}
.am-wrapper18,
.am-wrapper19 {
  width: 70px;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-8xs);
  align-items: flex-start;
  text-align: center;
}
.am-wrapper19 {
  padding: var(--padding-3xs);
}
.frame-child59 {
  position: relative;
  width: 24.81px;
  height: 25px;
}
.information-inner9,
.information10 {
  border-radius: var(--br-11xs);
  background-color: var(--grayscale-white);
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.information10 {
  border-radius: var(--br-8xs);
  background-color: var(--gray-color-gray-300);
  width: 40px;
  height: 40px;
}
.edit-child7 {
  position: relative;
  border-radius: var(--br-9xs);
  width: 30px;
  height: 30px;
  display: none;
}
.edit10 {
  border-radius: var(--br-8xs);
  background-color: var(--gray-color-gray-200);
  display: none;
  flex-direction: row;
  padding: var(--padding-8xs);
  align-items: center;
  justify-content: center;
}
.frame-child60 {
  position: relative;
  width: 21.14px;
  height: 25px;
}
.delete10,
.information-parent8 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.delete10 {
  border-radius: var(--br-8xs);
  background-color: var(--gray-color-gray-200);
  width: 40px;
  height: 40px;
  justify-content: center;
}
.information-parent8 {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.list-preview-inner11,
.list-preview10 {
  width: 155px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.list-preview10 {
  background-color: var(--grayscale-white);
  width: 1020px;
  flex-direction: row;
  padding: var(--padding-8xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child61 {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--secondary-color-secondary-light);
  box-sizing: border-box;
  height: 1px;
}
.inactive-wrapper2,
.status-card-wrapper10,
.status-card12 {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.inactive-wrapper2 {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--grayscale-white);
  width: 70px;
  flex-direction: row;
  padding: var(--padding-3xs);
}
.status-card-wrapper10,
.status-card12 {
  flex-direction: column;
}
.status-card12 {
  border-radius: var(--br-7xs);
  border: 1px solid var(--primary-color-primary);
  height: 30px;
  padding: var(--padding-10xs-5);
}
.status-card-wrapper10 {
  width: 78px;
  padding: var(--padding-3xs);
  color: var(--primary-color-primary);
}
.edit-child9 {
  position: relative;
  border-radius: var(--br-9xs);
  width: 30px;
  height: 30px;
}
.infoectvcindiacom-wrapper12,
.wrapper53 {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-11xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper53 {
  align-self: stretch;
  width: 69px;
  display: flex;
}
.infoectvcindiacom-wrapper12 {
  width: 74px;
  display: none;
}
.edit17,
.status-card14 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.status-card14 {
  border-radius: var(--br-7xs);
  border: 1px solid var(--action-color-success);
  box-sizing: border-box;
  height: 30px;
  flex-direction: column;
  padding: var(--padding-10xs-5);
}
.edit17 {
  border-radius: var(--br-8xs);
  background-color: var(--gray-color-gray-200);
  flex-direction: row;
  padding: var(--padding-8xs);
}
.list-preview-container {
  position: absolute;
  top: 0;
  left: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.div32,
.pagination-arrow-icon4 {
  position: relative;
  width: 21.24px;
  height: 15px;
}
.div32 {
  line-height: 19px;
  font-weight: 500;
  display: inline-block;
  width: 9px;
  flex-shrink: 0;
}
.pagination-number6,
.pagination-number7 {
  border-radius: var(--br-5xl);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.pagination-number6 {
  background-color: var(--primary-color-primary);
  color: var(--grayscale-white);
}
.pagination-number7 {
  background-color: var(--grayscale-white);
}
.pagination-button2,
.pagination-number-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.pagination-button2 {
  align-items: center;
  gap: var(--gap-mini);
  font-size: var(--font-size-base);
  color: var(--default-color-black);
}
.pages-container {
  position: absolute;
  top: 830px;
  left: 0;
  width: 1090px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-3xs) var(--padding-31xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  color: var(--secondary-color-secondary-dark);
}
.frame-parent4 {
  position: absolute;
  top: 395px;
  left: 350px;
  width: 1090px;
  height: 629px;
  overflow-y: auto;
  font-size: var(--regular-h4-size);
}
.theme-button-child1 {
  position: relative;
  width: 30.01px;
  height: 30px;
}
.theme-button6,
.theme-button7 {
  border-radius: var(--br-8xs);
  background-color: var(--grayscale-white);
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}
.theme-button7 {
  width: 40px;
  height: 40px;
  display: flex;
  padding: var(--padding-3xs);
  justify-content: center;
}
.theme-button6 {
  position: absolute;
  top: 7.5px;
  left: 1006.5px;
  border: 0.5px solid var(--secondary-color-secondary-light);
  width: 101px;
  height: 76px;
  display: none;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child86,
.user-abc5 {
  position: relative;
  width: 30px;
  height: 30px;
}
.user-abc5 {
  line-height: 23px;
  font-weight: 500;
  display: inline-block;
  width: 98px;
  height: 21px;
  flex-shrink: 0;
}
.vector-icon6 {
  position: relative;
  width: 13.35px;
  height: 8px;
}
.user-profile5,
.vector-wrapper3 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vector-wrapper3 {
  width: 15px;
  height: 20px;
  display: flex;
}
.user-profile5 {
  position: absolute;
  top: 13px;
  left: 1157px;
  border-radius: var(--br-3xs);
  background-color: var(--color-teal);
  display: none;
  padding: var(--padding-3xs);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--grayscale-white);
}
.group-child3 {
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 0 0 var(--br-mini) 0;
  background-color: var(--default-color-black);
  width: 247px;
  height: 74px;
}
.frame-child87,
.rectangle-wrapper1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 247px;
  height: 74px;
}
.frame-child87 {
  object-fit: cover;
}
.rectangle-wrapper1 {
  border-radius: var(--br-sm) 0 var(--br-sm) 0;
  background-color: var(--color-gainsboro);
}
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 251px;
  height: 78px;
  display: none;
}
.header3 {
  position: absolute;
  top: 22px;
  left: 50px;
  width: 1340px;
  height: 83px;
  text-align: center;
  font-size: var(--regular-h4-size);
}
.vuesaxlinearbezier-icon3 {
  position: relative;
  width: 32px;
  height: 32px;
  display: none;
}
.bezier3 {
  position: relative;
  line-height: 32px;
  font-weight: 600;
  background: linear-gradient(99.32deg, #b4cd93, #427a5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vuesaxlinearbezier-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.group-child4 {
  position: absolute;
  height: 63.83%;
  width: 41.12%;
  top: 36.17%;
  right: 29.85%;
  bottom: 0;
  left: 29.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instance-parent1 {
  position: absolute;
  top: 17px;
  left: 126px;
  width: 124px;
  height: 94px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-manrope);
}
.main12 {
  position: relative;
  line-height: 19px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 260px;
  height: 15px;
  flex-shrink: 0;
}
.sidebar-menu-child10 {
  position: relative;
  border-top: 1px solid var(--secondary-color-secondary-light);
  box-sizing: border-box;
  width: 261px;
  height: 1px;
}
.icons-child1 {
  position: relative;
  width: 25px;
  height: 25px;
}
.icons13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin12 {
  position: relative;
  line-height: 23px;
}
.admin-wrapper10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.div35 {
  position: relative;
  font-weight: 600;
}
.wrapper67 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--gray-color-gray-800);
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-8xs) var(--padding-3xs)
    var(--padding-7xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.number-tools12 {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
  font-size: var(--font-size-base);
  color: var(--action-color-warning);
  font-family: var(--regular-h4);
}
.icons-parent10 {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.sidebar-menu-card12 {
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--grayscale-white);
  border-left: 3px solid var(--secondary-color-secondary-dark);
  box-sizing: border-box;
  width: 260px;
  height: 51px;
  flex-direction: column;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-smi);
  align-items: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-teal);
}
.admin-wrapper11,
.sidebar-menu-card12,
.sidebar-menu12 {
  display: flex;
  justify-content: flex-start;
}
.sidebar-menu12 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.admin-wrapper11 {
  height: 30px;
  flex-direction: row;
  align-items: flex-end;
}
.number-tools13 {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: var(--font-size-base);
  color: var(--action-color-warning);
}
.sidebar-menu-card13,
.wrapper69 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sidebar-menu-card13 {
  border-radius: 0 var(--br-5xs) var(--br-5xs) 0;
  background-color: var(--color-teal);
  border-left: 3px solid var(--secondary-color-secondary-dark);
  width: 260px;
  height: 51px;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-3xs)
    var(--padding-smi);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--grayscale-white);
}
.wrapper69 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--action-color-success);
  width: 20px;
  height: 20px;
  padding: var(--padding-sm) var(--padding-8xs) var(--padding-3xs)
    var(--padding-7xs);
  align-items: center;
  justify-content: center;
}
.number-tools14 {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: var(--font-size-base);
  color: var(--default-color-black);
}
.sidebar-menu-parent1,
.xa-bi-ng-inner2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar-menu-parent1 {
  flex-direction: column;
  gap: var(--gap-21xl);
}
.xa-bi-ng-inner2 {
  position: absolute;
  top: 140px;
  left: 50px;
  border-radius: var(--br-8xs);
  background-color: var(--grayscale-white);
  border: 1px solid var(--default-color-black);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-3xs) var(--padding-11xl);
}
.user-profile6 {
  position: absolute;
  top: 33px;
  left: 1216px;
  border-radius: var(--br-3xs);
  background-color: var(--color-teal);
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--grayscale-white);
}
.xa-bi-ng-child2 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 1440px;
  height: 1022px;
  opacity: 0.5;
}
.xc-nhn-xa1 {
  position: absolute;
  top: 5px;
  left: 0;
  line-height: 28px;
  font-weight: 500;
}
.vector-icon8 {
  position: relative;
  width: 9.95px;
  height: 10px;
}
.close-button1 {
  position: absolute;
  top: 1px;
  left: 505px;
  border-radius: var(--br-8xs);
  background-color: var(--grayscale-white);
  width: 30px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.xc-nhn-xa-bi-ng-parent {
  align-self: stretch;
  position: relative;
  height: 33px;
  font-size: var(--font-size-5xl);
}
.frame-child89 {
  position: relative;
  border-top: 1px solid var(--color-teal);
  box-sizing: border-box;
  width: 536px;
  height: 1px;
}
.sau-khi-xa {
  margin: 0;
}
.line-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.cancel3,
.cancel4 {
  display: flex;
  flex-direction: row;
}
.cancel4 {
  border-radius: var(--br-8xs);
  background-color: var(--grayscale-white);
  border: 1px solid var(--grayscale-gray);
  box-sizing: border-box;
  width: 250px;
  height: 50px;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
}
.cancel3 {
  align-items: flex-start;
  justify-content: flex-start;
}
.edit-user1 {
  position: relative;
  line-height: 23px;
  font-weight: 600;
}
.button1,
.edit-button1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.edit-button1 {
  border-radius: var(--br-8xs);
  background-color: var(--color-teal);
  width: 250px;
  height: 50px;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  justify-content: center;
  color: var(--grayscale-white);
}
.button1 {
  width: 535px;
  justify-content: space-between;
}
.button-container,
.frame-parent5 {
  display: flex;
  justify-content: flex-start;
}
.button-container {
  height: 50px;
  flex-direction: row;
  align-items: center;
  color: var(--secondary-color-secondary-dark);
}
.frame-parent5 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-mini);
}
.delete-popup1,
.xa-bi-ng {
  background-color: var(--grayscale-white);
}
.delete-popup1 {
  position: absolute;
  top: 362px;
  left: 423px;
  border-radius: var(--br-5xs);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-11xl);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xl);
  color: var(--maincolor-secondary);
}
.xa-bi-ng {
  position: absolute;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--default-color-black);
  font-family: var(--font-poppins);
  display: none;
}

.xa-bi-ng.open{
  display: flex;
}
