.chng-nhn-child {
  position: absolute;
  top: 0;
  left: -1px;
  background-color: var(--color-teal);
  width: 375px;
  height: 169px;
}
.arrow-left-icon {
  position: relative;
  width: 18px;
  height: 16px;
}
.icons-close-copy-3 {
  position: absolute;
  top: 44px;
  left: 4px;
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title10 {
  position: absolute;
  top: 88px;
  left: 42px;
  letter-spacing: 0.39px;
  text-align: left;
}
.navigation-icon3 {
  position: absolute;
  top: 722px;
  left: 15px;
  width: 358px;
  height: 83px;
}
.white-modern-corporate-certifi {
  position: absolute;
  top: 245px;
  left: 56px;
  width: 262px;
  height: 351px;
  object-fit: cover;
}
.button-inner,
.chng-nhn-item {
  position: absolute;
  top: 485px;
  left: 166px;
  width: 42px;
  height: 48px;
  overflow: hidden;
}
.button-inner {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.ti-xung {
  position: absolute;
  width: 38.98%;
  top: 21.88%;
  left: 31.68%;
  display: inline-block;
}
.button5 {
  position: absolute;
  height: 7.88%;
  width: 79.3%;
  top: 76.23%;
  right: 11.28%;
  bottom: 15.89%;
  left: 9.42%;
  font-size: var(--font-size-4xl);
  color: var(--color-teal);
}
.border7,
.cap-icon7 {
  position: absolute;
  mix-blend-mode: normal;
}
.border7 {
  height: 100%;
  width: 90.43%;
  top: 0;
  right: 9.57%;
  bottom: 0;
  left: 0;
  border-radius: 2.67px;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  opacity: 0.35;
}
.cap-icon7 {
  height: 35.29%;
  width: 5.46%;
  top: 32.35%;
  right: 0;
  bottom: 32.35%;
  left: 94.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.4;
}
.capacity7 {
  position: absolute;
  height: 64.71%;
  width: 73.99%;
  top: 17.65%;
  right: 17.79%;
  bottom: 17.65%;
  left: 8.22%;
  border-radius: 1.33px;
  background-color: var(--color-white);
}
.battery7 {
  position: absolute;
  height: 25.76%;
  width: 6.49%;
  top: 39.39%;
  right: 3.91%;
  bottom: 34.85%;
  left: 89.6%;
}
.wifi-icon7 {
  position: absolute;
  width: 15.27px;
  height: 10.97px;
  top: 39.39%;
  right: 13%;
}
.cellular-connection-icon7 {
  position: absolute;
  width: 17px;
  height: 10.67px;
  top: 39.39%;
  right: 20%;
}
.span7 {
  letter-spacing: -0.28px;
}
.time8 {
  position: absolute;
  width: 100%;
  top: calc(50% - 7.5px);
  left: 0;
  font-weight: 900;
  display: inline-block;
}
.time-style7 {
  position: absolute;
  top: 13px;
  left: 21px;
  width: 54px;
  height: 21px;
}
.iphone-xstatus-barsstatus-ba14,
.iphone-xstatus-barsstatus-ba15 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.iphone-xstatus-barsstatus-ba14 {
  height: 5.42%;
  right: -1.07%;
  bottom: 94.58%;
  left: 1.07%;
  font-size: var(--font-size-sm);
}
.chng-nhn {
  position: absolute;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 375px;
  height: 812px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-15xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
  display: none;
}

.chng-nhn.open{
  display: flex;
}
