.signin-quen-mat-khau-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-teal);
  width: 375px;
  height: 378px;
}
.border14,
.cap-icon14 {
  position: absolute;
  mix-blend-mode: normal;
}
.border14 {
  height: 100%;
  width: 90.43%;
  top: 0;
  right: 9.57%;
  bottom: 0;
  left: 0;
  border-radius: 2.67px;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  opacity: 0.35;
}
.cap-icon14 {
  height: 35.29%;
  width: 5.46%;
  top: 32.35%;
  right: 0;
  bottom: 32.35%;
  left: 94.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.4;
}
.capacity14 {
  position: absolute;
  height: 64.71%;
  width: 73.99%;
  top: 17.65%;
  right: 17.79%;
  bottom: 17.65%;
  left: 8.22%;
  border-radius: 1.33px;
  background-color: var(--color-white);
}
.battery14 {
  position: absolute;
  height: 25.76%;
  width: 6.49%;
  top: 39.39%;
  right: 3.91%;
  bottom: 34.85%;
  left: 89.6%;
}
.wifi-icon14 {
  position: absolute;
  width: 15.27px;
  height: 10.97px;
  top: 39.39%;
  right: 13%;
}
.cellular-connection-icon14 {
  position: absolute;
  width: 17px;
  height: 10.67px;
  top: 39.39%;
  right: 20%;
}
.span15 {
  letter-spacing: -0.28px;
}
.time16 {
  position: absolute;
  width: 100%;
  top: calc(50% - 7.5px);
  left: 0;
  font-weight: 900;
  display: inline-block;
}
.time-style14 {
  position: absolute;
  top: 13px;
  left: 21px;
  width: 54px;
  height: 21px;
}
.iphone-xstatus-barsstatus-ba29 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.iphone-xstatus-barsstatus-ba28 {
  position: absolute;
  height: 5.42%;
  width: 100%;
  top: -0.62%;
  right: 2.13%;
  bottom: 95.2%;
  left: -2.13%;
  text-align: center;
}
.arrow-left-icon1 {
  position: relative;
  width: 18px;
  height: 16px;
}
.icons-close-copy-31 {
  position: absolute;
  top: 44px;
  left: 4px;
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-indicator9 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 66.5px);
  border-radius: var(--br-81xl);
  background-color: var(--label-color-light-primary);
  width: 134px;
  height: 5px;
}
.homeindicator8 {
  position: absolute;
  top: 778px;
  left: 0;
  width: 375px;
  height: 34px;
}
.remember-me9 {
  position: relative;
  font-weight: 500;
}
.label25 {
  flex: 1;
  position: relative;
  line-height: 20px;
}
.left-content10 {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-base) var(--padding-sm) 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.sf-symbol-xmarkcirclefill4 {
  position: relative;
  width: 17px;
  height: 17px;
}
.close-button7 {
  display: none;
  flex-direction: row;
  padding: 0 var(--padding-base) 0 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.content11,
.email5,
.remember-me-parent7 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.content11 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.email5,
.remember-me-parent7 {
  flex-direction: column;
  align-items: flex-start;
}
.email5 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  padding: 0 0 0 var(--padding-base);
  font-size: var(--font-size-mini);
  color: var(--color-body);
}
.remember-me-parent7 {
  gap: var(--gap-5xs);
}
.eye-off-icon3 {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.close-button8,
.frame-parent9,
.text-fields3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.close-button8 {
  flex-direction: row;
  padding: 0 var(--padding-base) 0 0;
}
.frame-parent9,
.text-fields3 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.text-fields3 {
  justify-content: center;
  gap: var(--gap-base);
}
.label28 {
  position: relative;
  letter-spacing: -0.41px;
  line-height: 22px;
}
.login-btn2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-goldenrod);
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-xl);
  align-items: center;
  justify-content: center;
}
.login-btn-frame,
.text-fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.login-btn-frame {
  align-self: stretch;
  text-align: center;
  font-size: var(--font-size-mid);
  color: var(--label-color-light-primary);
}
.text-fields-container {
  position: absolute;
  top: 287px;
  left: 16px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  box-shadow: 0 15px 32px rgba(0, 0, 0, 0.12);
  width: 343px;
  padding: var(--padding-13xl) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  color: var(--color-primary);
}
.title16 {
  position: absolute;
  top: 144px;
  left: 45px;
  font-size: var(--font-size-15xl);
  letter-spacing: 0.39px;
}
.signin-quen-mat-khau {
  position: absolute;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 375px;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-poppins);
  display: none;
}

.signin-quen-mat-khau.open{
  display: flex;
}